@font-face{font-family:Lato-Regular;src:url('../fonts/Lato/Lato-Regular.ttf');}
@font-face{font-family:Lato-Light;src:url('../fonts/Lato/Lato-Light.ttf');}
@font-face{font-family:Lato-Bold;src:url('../fonts/Lato/Lato-Bold.ttf');}

* {font-family: Lato-Regular;  box-sizing: content-box;}
.notebook_container {
  max-width: 1085px;
  margin: auto;
  position: relative;
}
h2 {font-size: 38px;}

/*------------ header block ---------------------*/
.header_image_container {
	background: rgba(0,0,0,0.4);
    height: 61vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.header_image_container h5 { 
	font-size: 48px; 
	font-family:'Lato-Light';
}
.header_image_mask { 
	width: 100%;
	height: 100%;
	z-index: 0;
	position: relative;
	background-image: url(../img/header_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.header_image_container nav a { 
	padding-right: 11px; 
}
.text_start {
    text-align: center;
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    margin: 0 2rem 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.header_container { 
    max-width: 1085px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    position: relative; 
}
.text_start p { 
	font-size: 21px; 
    line-height: 27px;
}
.slider_main_order_btn{ 
	background-color: #a4b9be;
    margin-top: 2.3rem;
    font-size: 21px;
    width: 225px;
    height: 51px;
    border: none;
}



/* ------------------ descr section ------------------*/
.desc_block_header {
  font-family:Lato-Bold;
  color: #535a5e;
}
.notebook_container p {
  font-size: 16px;
}
.desc_block {
	color: #9fa4a7;
}
.desc_block p { 
	margin-bottom: 4rem; 
}
.desc_block_content{
	padding-top: 4.5rem;
	padding-bottom: 3.5rem;
}





/*---------------- slider section ---------------*/


.slider_section { 
	color: #fff;
}
.slider_section h2{
    padding-top: 4.5rem; 
    margin-bottom: 0.75rem;
}
.slider_section .notebook_container p { 
	font-size: 21px; 
}
.slider_contaiter {
    background-image: url(../img/browser_background.png);
    padding-top: 28px;
    width: 80%;
    height: auto;
    display: inline-block;
    background-size: cover;
    margin-top: 3.7rem;
}
.slider_on_main { 
	width: 100%;
	height: 80%; 
	margin: auto;
}
.slider_section { 
	background-color: #a4b9be;
}
.slick-prev {
		content: '';
    left: -100px;
    z-index: 1;
}
.slick-next {
	content: '';
    right: -60px;
    z-index: 1;
}
.slick-prev:before { content: ''; }
.slick-next:before { content: ''; }
.slick-prev img {
    z-index: 1;
    max-height: 60px;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.slick-arrow img { 
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    opacity: 1;
}
.slick-arrow img:hover { 
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    opacity: 0.5;
}
.slick-next img {
    z-index: 1;
    max-height: 60px;
}	

/*------------ pricing --------------*/
.pricing h3 { 
	font-size: 30px; 
	font-family:Lato-Bold; 
	color: #535a5e
} 
.price {
	font-family:Lato-Bold;
}
.pricing_content .price { padding-top: 2rem; }
.pricing p { 
	font-size: 21px; 
	color: #98a0a5;
	
}
.pricing .pricing_content p {
	margin-bottom: 2rem;
}
.pricing_desc { 
	padding: 0 12rem 1.5rem; 
	font-size: 21px; 
	color: #98a0a5;
}
.pricing_blocks { 
	display: flex; 
	justify-content: center; 
	padding: 15px;
	flex-wrap: wrap;
}
.pricing_block {
	padding: 15px;
	width: 290px;
}
.pricing > div { 
	padding-top: 7rem; 
}

.proposition_title h5 { width: 100%; font-size: 30px;}
.pricing_block .proposition_title > p  { 
	font-family:Lato-Regular; 
	font-size: 16px; 
	color: #e9eef2;
	line-height: 0;
	padding: 0;
}



.pricing_block:nth-child(1) .proposition_title, .pricing_block:nth-child(1) button { background-color: #535a5e; color: #e9eef2; }  
.pricing_block:nth-child(2) .proposition_title, .pricing_block:nth-child(2) button { background-color: #58ad52; color: #e9eef2; } 
.pricing_block:nth-child(3) .proposition_title, .pricing_block:nth-child(3) button { background-color: #53a1ad; color: #e9eef2; } 
.pricing_block button {
    width: 290px;
    padding: 0;
    height: 60px;
    border: none;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;

}
.pricing_block:nth-child(1) button:hover{
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
	background-color: #e9eef2;
	color: #000;
}
.pricing_block:nth-child(2) button:hover{
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
	background-color: #dfebdf;
	color: #000;
}
.pricing_block:nth-child(3) button:hover{
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
	background-color: #dee9eb; 
	color: #000;
}
.pricing_block .proposition_title { 
	font-family:Lato-Light; 
	font-size: 30px; 
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 82px;
	align-items: center;
    width: 100%!important;
}
.pricing_block:nth-child(1) .pricing_content { background-color: #e9eef2; }
.pricing_block:nth-child(2) .pricing_content { background-color: #dfebdf; }
.pricing_block:nth-child(3) .pricing_content { background-color: #dee9eb; } 
.pricing_content p:nth-last-child(1) { 
	padding-bottom: 40px; 
}
.pricing .pricing_after { 
	font-size: 15px;     
	width: 50%;
    margin: 30px auto 80px;
}
/*---------feedback block -----------------*/
.alert { 
	display: none; 
}

.feedback { 
	background-color: #2d3035;
     padding-top: 4.5rem;
 }
.contacts-subtitle { 
	font-size: 38px;
	font-family:Lato-Bold; 
	color: #f1f1f1;
}
.contacts-form .alert-success {
	color: #eaebed;
	background-color: #7e868c;
	border-color: #7e868c;
}
.feedback p { 
	font-size: 21px; 
	color: #98a0a5;
	max-width: 520px;
    margin: 15px auto 50px;
}
.contact_form {
	max-width: 400px;
	margin: auto;
}
.contact_form input {
	width: 95%;
    font-size: 17px;
    padding: 15px 0px 15px 15px;
	margin-bottom: 20px;
	color: #fff;
	background-color: transparent;
	border-radius: 5px;
	border-style: solid;
	border-color: #e9eef2;
}
.contact_form input:focus, .contact_form input:active, .contact_form textarea:focus, .contact_form textarea:active{
	border-color: #e9eef2;
	outline: #e9eef2;
}
.contact_form textarea {
	resize: none;
    width: 95%;
    font-size: 17px;
    padding: 15px 0px 15px 15px;
	min-height: 80px;
	margin-bottom: 20px;
	color: #fff;
	background-color: transparent;
	border-radius: 5px;
	border-style: solid;
	border-color: 1px solid #e9eef2;
}
.contact_form input::placeholder { 
	color: #fff; 
	opacity: 1;
}
.contact_form textarea::placeholder { 
	color: #fff; 
	opacity: 1;
}
.contacts_submit_button {
	width: 99%;
	background-color: #a4b9be;
	font-size: 17px;
	color: #2d3035;
	padding: 1rem 0;
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    font-family:Lato-Bold; 
}
.contacts_submit_button:hover {
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    background-color: #65adbe;
}
.social {
	margin: 40px auto ;
	padding-bottom: 80px;
}
.social img { 
	padding-left: 10px;
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.social img:hover{
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
	transform: scale(0.9);
}



/*-----------footer ----------------*/
footer { font-family:Lato-Bold; font-size: 16px; }
footer a {
	color: #535a5e;
	padding-left: 15px;
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
footer a:hover {
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
@media(max-width: 1380px){
	.slick-prev {
    left: -60px;
    z-index: 1;
}
	.slick-next {
    right: -20px;
    z-index: 1;
}

}

@media(max-width: 1200px){
	.slick-prev {
    left: 25px;
    z-index: 1;
}
	.slick-next {
    right: 65px;
    z-index: 1;
}

}


@media(max-width: 768px){
	h2 { 
		font-size: 28px;
	}
	.text_start p {
    	font-size: 18px;
	}
	.feedback p {
    	padding: 0 1rem;
	}
	.header_image_container
	{
		height: 75vh;
	}
	.slider_main_order_btn{
		margin-top: 0;
		width: 150px;
	    height: 35px;
	    font-size: 16px;
	}
	.text_start {
	    margin: 0px 1rem 0;
	}
	.slider_contaiter {
	    background-image: url(../img/browser_background.png);
	    padding-top: 21px;
	    background-size: cover;
	}
	.pricing_desc {
   		padding: 0 2rem 1.5rem;
	}
	.desc_block {
		padding: 0 2rem;
	}
	.pricing{
		padding: 2rem;
	}
	.contact_form {
  	  max-width: 270px;
	}
	footer {
		text-align: center;
	}
	.desc_block_content {
   		padding-bottom: 0; 
	}
	.slick-prev, .slick-next {
    	top: 42%;
}

@media(max-width: 550px){
	.slick-next {
	    right: 15px;
	}
	.slick-prev {
    	left: 0px;
	}
	.pricing h3 {
		font-size: 24px;
	}
	.pricing_desc {
    	font-size: 18px;
	}
	.pricing > div {
    	padding-top: 2rem;
	}
	.slick-arrow img {
	    z-index: 1;
	    max-height: 35px;
	}
	.header_navigation{
		margin-bottom: 0!important;
	}
	.pricing .pricing_after {
    margin: 10px auto 0;
}


}